@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

h1 {
  font-size: 2em;
}

html {
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
}

.col-0 {
  flex: 0 0 0%;
}

.col-offset-0 {
  margin-left: 0%;
}

.col-1 {
  flex: 0 0 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-0 {
    flex: 0 0 0%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-0 {
    flex: 0 0 0%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-0 {
    flex: 0 0 0%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-0 {
    flex: 0 0 0%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background: #A0C6FF;
  color: #004063;
}

.btn-secondary {
  color: #fff;
  background: #A0C6FF;
}

.btn-outline-primary {
  background: transparent;
  color: #004063;
  border-color: #004063;
}

.btn-outline-primary:hover {
  background: #004063;
  color: #fff;
}

.btn-outline-secondary {
  background: transparent;
  color: #fff;
  border-color: #A0C6FF;
}

.btn-outline-secondary:hover {
  background: #A0C6FF;
  color: #004063;
}

@media screen and (min-width: 1920px) {
  .btn {
    font-size: 1.2rem;
  }
}

.dm-header {
  height: 7rem;
  background-color: #fff;
  z-index: 999999;
  position: sticky;
  top: 0;
}

.dm-header nav {
  transition: all 0.3s linear;
  padding-bottom: 1rem;
  position: relative;
}

.dm-header nav .header-container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.24rem;
}

.dm-header nav .header-container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  .dm-header nav .header-container .nav-header {
    display: flex;
  }
  .dm-header nav .header-container .nav-header .logo {
    flex: 1;
  }
  .dm-header nav .header-container .nav-header .ham {
    font-size: 4rem;
  }
}

.dm-header .links-container {
  z-index: 9999;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.dm-header .links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.dm-header .links-container .nav-links .drop-down {
  padding: 0.75rem 1rem;
  height: auto;
}

.dm-header .links-container .nav-links .drop-down .drop-down-link {
  background-color: #fff;
  border-radius: 3px;
  display: none;
}

.dm-header .links-container .nav-links .drop-down .drop-down-link li a {
  color: #004063 !important;
}

@media screen and (min-width: 1200px) {
  .dm-header .links-container .nav-links .drop-down .drop-down-link {
    position: absolute;
    box-shadow: 2px 2px 44px rgba(0, 0, 0, 0.25);
  }
}

.dm-header .links-container .nav-links .drop-down .display-links {
  display: block !important;
}

@media screen and (min-width: 1200px) {
  .dm-header .links-container {
    position: static;
  }
}

.dm-header .show-links {
  height: auto !important;
}

@media screen and (min-width: 1200px) {
  .dm-header .nav {
    padding-top: 1.24rem;
  }
  .dm-header .nav .header-container {
    display: flex;
    align-items: center;
  }
  .dm-header .nav .header-container .nav-header {
    flex: 1;
    padding: 0;
  }
  .dm-header .nav .header-container .nav-header .menu {
    display: none;
  }
  .dm-header .nav .header-container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .dm-header .nav .header-container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .dm-header .nav .header-container .links-container .nav-links li a {
    color: #004063;
    transition: all .3s linear;
  }
  .dm-header .nav .header-container .links-container .nav-links li .black {
    color: #000;
  }
}

.dm-banner {
  position: relative;
}

.dm-banner .dm-polygon2 {
  position: absolute;
  top: 1.13rem;
  left: 0.19rem;
}

.dm-banner .dm-polygon1 {
  position: absolute;
  right: 0;
  top: 0;
}

.dm-banner .code {
  position: absolute;
  top: 17rem;
  left: 0;
}

.dm-banner .brush {
  position: absolute;
  top: 20rem;
  right: 1.81rem;
}

.dm-banner .container .dm-headline {
  padding-top: 6.38rem;
  margin-bottom: 4.13rem;
  position: relative;
}

.dm-banner .container .dm-headline img {
  position: absolute;
  top: 2rem;
  z-index: -1;
}

.dm-banner .container .dm-headline .subtitle {
  font-size: 0.88rem;
  line-height: 0.94rem;
  letter-spacing: 0.385em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 0.5rem;
}

.dm-banner .container .dm-headline h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #004063;
  margin-bottom: 1.88rem;
}

@media screen and (min-width: 768px) {
  .dm-banner .dm-polygon2 {
    position: absolute;
    top: 1.13rem;
    left: 0.19rem;
  }
  .dm-banner .dm-polygon1 {
    position: absolute;
    right: 22.25rem;
    top: 0;
  }
  .dm-banner .code {
    position: absolute;
    top: 17rem;
    left: 0;
  }
  .dm-banner .brush {
    position: absolute;
    top: 20rem;
    right: 27rem;
  }
  .dm-banner .container .dm-headline h1 {
    font-size: 2.25rem;
    width: 18.69rem;
    height: 5rem;
    line-height: 2.38rem;
    margin-bottom: 1rem;
  }
  .dm-banner .container .dm-illu {
    align-self: center;
  }
}

@media screen and (min-width: 992px) {
  .dm-banner .container .dm-headline .subtitle {
    font-size: 1.13rem;
  }
  .dm-banner .container .dm-headline h1 {
    font-size: 2.81rem;
    width: 25.44rem;
    height: 8.25rem;
    line-height: 4.06rem;
  }
}

@media screen and (min-width: 1200px) {
  .dm-banner .dm-polygon2 {
    top: 3.8rem;
    left: 2.44rem;
  }
  .dm-banner .dm-polygon1 {
    right: 53.88rem;
    top: 0;
  }
  .dm-banner .code {
    top: 23.5rem;
    left: 2.19rem;
  }
  .dm-banner .brush {
    top: 28.94rem;
    right: 58.81rem;
  }
  .dm-banner .container .dm-headline img {
    top: 0;
  }
  .dm-banner .container .dm-headline #cta {
    font-size: 1.5rem;
    padding: 1.25rem 3rem;
  }
  .dm-banner .container .dm-headline .subtitle {
    font-size: 1.13rem;
  }
  .dm-banner .container .dm-headline h1 {
    font-size: 3.81rem;
    width: 31.44rem;
    height: 8.25rem;
    line-height: 4.06rem;
    margin-bottom: 2.56rem;
  }
}

@media screen and (min-width: 1920px) {
  .dm-banner .dm-polygon2 {
    top: 3.8rem;
    left: 8.44rem;
  }
  .dm-banner .dm-polygon1 {
    right: 73.88rem;
    top: 0;
  }
  .dm-banner .code {
    top: 23.5rem;
    left: 8.19rem;
  }
  .dm-banner .brush {
    top: 28.94rem;
    right: 78.81rem;
  }
}

.dm-service {
  padding-top: 5.63rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

.dm-service .up {
  position: absolute;
  width: 10.69rem;
  height: 14.25rem;
  left: -4.06rem;
  top: -3.63rem;
}

.dm-service .down {
  position: absolute;
  width: 10.69rem;
  height: 14.25rem;
  bottom: 0;
  right: -4.06rem;
}

.dm-service .container .dm-service-title .service-subtitle {
  font-size: 0.88rem;
  line-height: 0.94rem;
  letter-spacing: 0.385em;
  text-transform: uppercase;
  color: #292929;
  text-align: center;
}

.dm-service .container .dm-service-title h1 {
  margin-top: 0.69rem;
}

.dm-service .container .dm-service-card {
  margin-bottom: 11.56rem;
}

.dm-service .container .dm-service-card .s-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6.31rem;
  text-align: center;
}

.dm-service .container .dm-service-card .s-card img {
  margin-bottom: 3.63rem;
}

.dm-service .container .dm-service-card .s-card .s-card-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.56rem;
  color: #004063;
  margin-bottom: 1.38rem;
}

.dm-service .container .dm-service-card .s-card .s-card-text {
  font-size: 1rem;
  line-height: 1.63rem;
  /* or 26px */
  text-align: center;
  color: #656565;
}

@media screen and (min-width: 768px) {
  .dm-service .up {
    width: 13.75rem;
    height: 18.38rem;
    left: -4.06rem;
    top: -3.63rem;
  }
  .dm-service .down {
    width: 13.75rem;
    height: 18.38rem;
    bottom: 0rem;
    right: -4.06rem;
  }
  .dm-service .container .dm-service-card {
    margin-bottom: 13.5rem;
  }
  .dm-service .container .dm-service-card .s-card img {
    height: 15.63rem;
  }
  .dm-service .container .dm-service-card .s-card .s-card-text {
    width: 16.44rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .dm-service {
    padding-bottom: 4.5rem;
  }
  .dm-service .up {
    width: 24.25rem;
    height: 32.28rem;
    left: -8.06rem;
    top: -3.63rem;
  }
  .dm-service .down {
    width: 24.25rem;
    height: 32.28rem;
    bottom: 0;
    right: -8.06rem;
  }
  .dm-service .container .dm-service-card {
    margin-bottom: 13.5rem;
  }
  .dm-service .container .dm-service-card .s-card .s-card-text {
    width: 22.94rem;
    margin: 0 auto;
  }
}

.main-content {
  position: relative;
  overflow: hidden;
}

.main-content .bg-img, .main-content .shape1, .main-content .shape2, .main-content .webs {
  position: absolute;
  z-index: -1;
}

.main-content .shape1 {
  width: 15rem;
  left: -3rem;
  top: -1rem;
}

.main-content .shape2 {
  width: 15rem;
  top: 65rem;
  right: -5rem;
}

.main-content .webs {
  top: 116rem;
}

.main-content .container .ds-card {
  padding-top: 2.19rem;
}

.main-content .container .ds-card .ds-card-top .ds-card-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.13rem;
  text-align: center;
  color: #004063;
  text-transform: capitalize;
  margin-bottom: 1.19rem;
}

.main-content .container .ds-card .ds-card-top .ds-card-subtitle {
  font-size: 0.88rem;
  line-height: 0.94rem;
  text-align: center;
  color: #515151;
}

.main-content .container .ds-card .ds-card-content, .main-content .container .ds-card .ds-card-reverse-content {
  margin-top: 3.44rem;
  margin-bottom: 5.25rem;
  position: relative;
}

.main-content .container .ds-card .ds-card-content .consulting, .main-content .container .ds-card .ds-card-reverse-content .consulting {
  position: absolute;
  top: 7rem;
}

.main-content .container .ds-card .ds-card-content .design, .main-content .container .ds-card .ds-card-reverse-content .design {
  position: absolute;
  bottom: -5rem;
}

.main-content .container .ds-card .ds-card-content .integration, .main-content .container .ds-card .ds-card-reverse-content .integration {
  position: absolute;
  top: 7rem;
}

.main-content .container .ds-card .ds-card-content .tv, .main-content .container .ds-card .ds-card-reverse-content .tv {
  position: absolute;
  top: -6rem;
}

.main-content .container .ds-card .ds-card-content .server, .main-content .container .ds-card .ds-card-reverse-content .server {
  position: absolute;
  top: -4rem;
}

.main-content .container .ds-card .ds-card-content .digital-asset, .main-content .container .ds-card .ds-card-reverse-content .digital-asset {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.main-content .container .ds-card .ds-card-content .cloud, .main-content .container .ds-card .ds-card-reverse-content .cloud {
  position: absolute;
  top: -8rem;
}

.main-content .container .ds-card .ds-card-content .mega, .main-content .container .ds-card .ds-card-reverse-content .mega {
  position: absolute;
}

.main-content .container .ds-card .ds-card-content .dots, .main-content .container .ds-card .ds-card-reverse-content .dots {
  position: absolute;
  top: -2.38rem;
  left: -4rem;
  z-index: -1;
}

.main-content .container .ds-card .ds-card-content .video, .main-content .container .ds-card .ds-card-reverse-content .video {
  position: absolute;
}

.main-content .container .ds-card .ds-card-content .blob, .main-content .container .ds-card .ds-card-reverse-content .blob {
  position: absolute;
  right: 0;
  bottom: -12.19rem;
  z-index: -1;
}

.main-content .container .ds-card .ds-card-content .live, .main-content .container .ds-card .ds-card-reverse-content .live {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-content .container .ds-card .ds-card-content .v, .main-content .container .ds-card .ds-card-reverse-content .v {
  position: absolute;
  top: -5rem;
  z-index: -1;
  left: -0;
}

.main-content .container .ds-card .ds-card-content .about-text, .main-content .container .ds-card .ds-card-reverse-content .about-text {
  text-align: center;
}

.main-content .container .ds-card .ds-card-content .ds-card-text, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text {
  font-size: 1rem;
  line-height: 1.56rem;
  color: #515151;
  margin-bottom: 5.56rem;
}

.main-content .container .ds-card .ds-card-content .ds-card-text ul, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text ul {
  margin: 1.63rem 0 0 6.31rem;
}

.main-content .container .ds-card .ds-card-content .ds-card-text ul li, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text ul li {
  padding-bottom: 0.38rem;
}

.main-content .container .ds-card .ds-card-content .ds-card-text ul li .bx, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text ul li .bx {
  color: #1EF68E;
}

.main-content .container .ds-card .ds-card-content .ds-img, .main-content .container .ds-card .ds-card-reverse-content .ds-img {
  width: 21.5rem;
  height: 25.25rem;
  border-radius: 1.38rem 6.31rem;
  background: lightblue;
  z-index: 1;
}

.main-content .container .ds-card .ds-card-content .ds-img img, .main-content .container .ds-card .ds-card-reverse-content .ds-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.38rem 6.31rem;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.main-content .container .ds-card .ds-card-reverse-content .ds-img {
  margin-bottom: 5.56rem;
}

.main-content .container .ds-card .ds-card-reverse-content .ds-card-text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .main-content .shape2 {
    top: 45rem;
    right: -1rem;
  }
  .main-content .webs {
    top: 116rem;
  }
  .main-content .container .ds-card .ds-card-content .v, .main-content .container .ds-card .ds-card-reverse-content .v {
    width: 20rem;
  }
  .main-content .container .ds-card .ds-card-content .consulting, .main-content .container .ds-card .ds-card-reverse-content .consulting {
    width: 20rem;
    top: 12rem;
  }
  .main-content .container .ds-card .ds-card-content .design, .main-content .container .ds-card .ds-card-reverse-content .design {
    width: 20rem;
    right: 0;
    bottom: -5rem;
  }
  .main-content .container .ds-card .ds-card-content .integration, .main-content .container .ds-card .ds-card-reverse-content .integration {
    width: 20rem;
    top: 12rem;
  }
  .main-content .container .ds-card .ds-card-content .tv, .main-content .container .ds-card .ds-card-reverse-content .tv {
    top: 6rem;
    left: -6rem;
  }
  .main-content .container .ds-card .ds-card-content .server, .main-content .container .ds-card .ds-card-reverse-content .server {
    width: 30rem;
    top: 6rem;
    left: -8rem;
  }
  .main-content .container .ds-card .ds-card-content .digital-asset, .main-content .container .ds-card .ds-card-reverse-content .digital-asset {
    width: 20rem;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .main-content .container .ds-card .ds-card-content .cloud, .main-content .container .ds-card .ds-card-reverse-content .cloud {
    left: -4rem;
    top: -8rem;
  }
  .main-content .container .ds-card .ds-card-content .video, .main-content .container .ds-card .ds-card-reverse-content .video {
    left: -6rem;
    top: -5rem;
  }
  .main-content .container .ds-card .ds-card-content .blob, .main-content .container .ds-card .ds-card-reverse-content .blob {
    right: -10rem;
    bottom: -8.19rem;
  }
  .main-content .container .ds-card .ds-card-content .live, .main-content .container .ds-card .ds-card-reverse-content .live {
    width: 20rem;
    right: 0;
    top: 0;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-6 {
    display: grid;
    place-items: center;
  }
  .main-content .container .ds-card .ds-card-content .v, .main-content .container .ds-card .ds-card-reverse-content .v {
    width: 30rem;
  }
  .main-content .container .ds-card .ds-card-content .live, .main-content .container .ds-card .ds-card-reverse-content .live {
    width: 20rem;
    right: 4rem;
    top: 10rem;
  }
  .main-content .container .ds-card .ds-card-content .dots, .main-content .container .ds-card .ds-card-reverse-content .dots {
    top: -6.38rem;
    left: 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-6 p {
    width: 30.81rem;
  }
  .main-content {
    padding-top: 5.56rem;
  }
  .main-content .shape1 {
    width: auto;
    top: -4rem;
    left: -4rem;
  }
  .main-content .shape2 {
    width: auto;
    top: 65rem;
    right: -3rem;
  }
  .main-content .webs {
    top: 116rem;
  }
  .main-content .container .ds-card #about-title {
    padding-bottom: 2rem;
  }
  .main-content .container .ds-card .consult, .main-content .container .ds-card .Project, .main-content .container .ds-card .integration1 {
    padding-bottom: 0 !important;
  }
  .main-content .container .ds-card .ds-card-top {
    padding-bottom: 7.13rem;
  }
  .main-content .container .ds-card .ds-card-top .ds-card-title {
    font-size: 3.25rem;
    width: 30.44rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    line-height: 3.44rem;
  }
  .main-content .container .ds-card .ds-card-top .ds-card-subtitle {
    font-size: 1.25rem;
  }
  .main-content .container .ds-card .ds-card-content .consulting, .main-content .container .ds-card .ds-card-reverse-content .consulting {
    width: auto;
    top: 12rem;
  }
  .main-content .container .ds-card .ds-card-content .design, .main-content .container .ds-card .ds-card-reverse-content .design {
    width: auto;
    bottom: -8rem;
  }
  .main-content .container .ds-card .ds-card-content .integration, .main-content .container .ds-card .ds-card-reverse-content .integration {
    width: auto;
    top: 12rem;
  }
  .main-content .container .ds-card .ds-card-content .v, .main-content .container .ds-card .ds-card-reverse-content .v {
    width: auto;
    top: -14rem;
    left: -6rem;
  }
  .main-content .container .ds-card .ds-card-content .tv, .main-content .container .ds-card .ds-card-reverse-content .tv {
    left: -6rem;
  }
  .main-content .container .ds-card .ds-card-content .server, .main-content .container .ds-card .ds-card-reverse-content .server {
    width: auto;
    top: 6.75rem;
    left: -10.88rem;
  }
  .main-content .container .ds-card .ds-card-content .digital-asset, .main-content .container .ds-card .ds-card-reverse-content .digital-asset {
    width: auto;
    right: 0;
    z-index: -1;
  }
  .main-content .container .ds-card .ds-card-content .cloud, .main-content .container .ds-card .ds-card-reverse-content .cloud {
    top: -15.13rem;
  }
  .main-content .container .ds-card .ds-card-content .video, .main-content .container .ds-card .ds-card-reverse-content .video {
    left: 0rem;
    top: 0rem;
  }
  .main-content .container .ds-card .ds-card-content .blob, .main-content .container .ds-card .ds-card-reverse-content .blob {
    right: 0rem;
    bottom: -8.19rem;
  }
  .main-content .container .ds-card .ds-card-content .live, .main-content .container .ds-card .ds-card-reverse-content .live {
    width: auto;
  }
  .main-content .container .ds-card .ds-card-content .ds-card-text, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text {
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  .main-content .container .ds-card .ds-card-content .ds-img, .main-content .container .ds-card .ds-card-reverse-content .ds-img {
    width: 30.88rem;
    height: 36.31rem;
    border-radius: 1.38rem 9.25rem;
  }
  .main-content .container .ds-card .ds-card-content .ds-img img, .main-content .container .ds-card .ds-card-reverse-content .ds-img img {
    border-radius: 1.38rem 9.25rem;
  }
}

@media screen and (min-width: 1920px) {
  .col-lg-6 p {
    width: auto;
  }
  .main-content .container .ds-card .ds-card-content .ds-card-text, .main-content .container .ds-card .ds-card-reverse-content .ds-card-text {
    font-size: 1.45rem;
    line-height: 2rem;
  }
}

.main-content {
  position: relative;
}

.main-content .absolute, .main-content .b-wave, .main-content .b-blob1, .main-content .b-blob, .main-content .vector, .main-content .wave1, .main-content .yt, .main-content .blob-o, .main-content .icons {
  position: absolute;
  z-index: -1;
}

.main-content .b-wave {
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.main-content .b-blob1 {
  width: 8rem;
  opacity: 0.3;
  top: 65.56rem;
  left: -2rem;
}

.main-content .b-blob {
  opacity: 0.3;
  width: 8rem;
  right: -3rem;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .main-content .b-wave {
    top: 0;
    width: 40rem;
  }
  .main-content .b-blob1 {
    width: 15rem;
    top: 40.56rem;
    left: -4rem;
  }
  .main-content .b-blob {
    width: 15rem;
    right: -6rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-content .b-wave {
    top: 10rem;
    width: auto;
  }
  .main-content .b-blob1 {
    width: auto;
    top: 65.56rem;
    left: -10rem;
  }
  .main-content .b-blob {
    width: auto;
    right: -10rem;
  }
}

.main-content .absolute, .main-content .b-wave, .main-content .b-blob1, .main-content .b-blob, .main-content .vector, .main-content .wave1, .main-content .yt, .main-content .blob-o, .main-content .icons {
  position: absolute;
  z-index: -1;
}

.main-content .vector {
  top: 0;
  width: 8rem;
}

.main-content .wave1 {
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 992px) {
  .main-content .vector {
    width: 15rem;
  }
  .main-content .wave1 {
    bottom: -15rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-content .vector {
    width: auto;
  }
}

.main-content .absolute, .main-content .b-wave, .main-content .b-blob1, .main-content .b-blob, .main-content .vector, .main-content .wave1, .main-content .yt, .main-content .blob-o, .main-content .icons {
  position: absolute;
  z-index: -1;
}

.main-content .yt {
  width: 3rem;
  top: 2rem;
  left: 1rem;
}

.main-content .blob-o {
  opacity: .3;
  width: 7rem;
  right: -2rem;
}

.main-content .icons {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .main-content .icons {
    width: 30rem;
    left: 8rem;
  }
}

@media screen and (min-width: 992px) {
  .main-content .blob-o {
    width: auto;
    right: -8rem;
  }
  .main-content .yt {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .main-content .icons {
    width: 35rem;
    bottom: 0;
  }
}

.main-content .blob-s {
  position: absolute;
  z-index: -1;
  top: -2rem;
  left: -2rem;
  width: 10rem;
}

@media screen and (min-width: 768px) {
  .main-content .blob-s {
    width: 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-content .blob-s {
    width: auto;
    top: -4rem;
    left: -4rem;
  }
}

.hexagon {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.pros .container {
  position: relative;
}

.pros .container .pro-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.13rem;
  text-align: center;
  color: #004063;
  text-transform: capitalize;
  margin-bottom: 1.19rem;
}

.pros .container .pro-content {
  margin-top: 3.19rem;
}

.pros .container .pro-content .person {
  text-align: center;
  margin-bottom: 1.25rem;
}

.pros .container .pro-content .person .img {
  width: 19rem;
  margin: 0 auto;
  margin-bottom: 1.13rem;
  height: 25.31rem;
  z-index: 1;
}

.pros .container .pro-content .person .img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center center;
  z-index: -1;
  border-radius: 1.13rem;
}

.pros .container .pro-content .person .name {
  font-size: 1.13rem;
  line-height: 1.19rem;
  color: #004063;
  margin-bottom: 0.44rem;
}

.pros .container .pro-content .person .job {
  font-size: 0.88rem;
  color: #585858;
}

@media screen and (min-width: 992px) {
  .pros .container .pro-content {
    width: 40rem;
    margin: 0 auto;
  }
  .pros .container .pro-content .person {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .pros .container .pro-title {
    font-size: 3.25rem;
    width: 30.44rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    line-height: 3.44rem;
  }
  .pros .container .pro-content {
    width: auto;
  }
}

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

main .contact-blob {
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -2rem;
}

main .c-blob {
  position: absolute;
  z-index: -1;
  right: -9rem;
  top: 24rem;
}

main .contact-info .contact-subtitle {
  font-size: 0.88rem;
  line-height: 0.94rem;
  letter-spacing: 0.385em;
  text-transform: uppercase;
  color: #292929;
}

main .contact-info .contact-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #004063;
  margin-bottom: 1.88rem;
}

main .contact-info .contact-details {
  margin-top: 3rem;
}

main .contact-info .contact-details .contact-content {
  display: flex;
  margin-bottom: 2.19rem;
}

main .contact-info .contact-details .contact-content:last-child .text {
  width: 15.69rem;
  line-height: 1.69rem;
}

main .contact-info .contact-details .contact-content .text {
  margin-left: 0.94rem;
  font-size: 1.13rem;
  align-self: center;
}

main .contact-info .contact-details .contact-content .text p {
  margin-bottom: 0.75rem;
  font-size: 1.13rem;
}

main .contact-info .contact-details .contact-content .bx {
  background-color: #A0C6FF;
  border-radius: 50%;
  padding: 0.44rem;
  font-size: 1.5rem;
}

main .contact-info .socials .social-title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.38rerm;
  color: #004063;
}

main .contact-info .socials .social-icons {
  margin: 2.38rem 0;
}

main .contact-info .socials .social-icons a {
  margin-right: 1.85rem;
}

main .contact-info .socials .social-icons .bx {
  background-color: #A0C6FF;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.44rem;
}

main .contact-form .bg {
  background: #FFFFFF;
  box-shadow: 2px 2px 23px -4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 0.2rem 1.31rem;
}

main .contact-form .bg .form {
  margin-top: 3.63rem;
  display: flex;
  flex-direction: column;
}

main .contact-form .bg .form label {
  margin-bottom: 1rem;
}

main .contact-form .bg .form input, main .contact-form .bg .form textarea {
  width: 100%;
  background: #F1F1F1;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
}

main .contact-form .bg .form input {
  height: 2.88rem;
}

main .contact-form .bg .form input:active {
  border-color: #004063;
}

main .contact-form .bg .form button {
  margin: 1.69rem 0;
  width: 12.31rem;
  color: #004063;
}

.map {
  margin-top: 4rem;
  overflow: hidden;
}

.map .container .location .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 17rem;
}

.map .container .location .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  main .contact-blob {
    position: absolute;
    z-index: -1;
    top: -9rem;
    left: -18rem;
  }
  main .c-blob {
    position: absolute;
    z-index: -1;
    right: -9rem;
    top: -4rem;
  }
  .map {
    height: 20rem;
  }
  .map .container .location .map-responsive {
    height: 20rem;
  }
}

@media screen and (min-width: 992px) {
  main {
    padding-top: 5.8rem;
  }
  main .contact-blob {
    position: absolute;
    z-index: -1;
    top: -12rem;
    left: -28rem;
  }
  main .contact-info .contact-subtitle {
    font-size: 1.13rem;
  }
  main .contact-info .contact-title {
    font-size: 2.81rem;
    line-height: 4.06rem;
  }
  main .contact-form .bg {
    padding: .88rem 3.31rem;
  }
  .map .container .location .map-responsive {
    height: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  main .contact-blob {
    top: -12rem;
    left: -18rem;
  }
  .map {
    height: 30rem;
  }
}

@media screen and (min-width: 1920px) {
  main .contact-blob {
    position: absolute;
    z-index: -1;
    top: -12rem;
    left: -12rem;
  }
  main .c-blob {
    z-index: -1;
    right: 5rem;
    top: -4rem;
  }
}

.header {
  height: 7rem;
  background-color: #004063;
  z-index: 999999;
  position: sticky;
  top: 0;
}

.header nav {
  transition: all 0.3s linear;
  padding-bottom: 1rem;
  position: relative;
}

.header nav .header-container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.24rem;
}

.header nav .header-container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  .header nav .header-container .nav-header {
    display: flex;
  }
  .header nav .header-container .nav-header .logo {
    flex: 1;
  }
  .header nav .header-container .nav-header .ham {
    font-size: 4rem;
  }
}

.header .links-container {
  background: #fff;
  position: absolute;
  z-index: 999999;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.header .links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.header .links-container .nav-links .drop-down {
  padding: 0.75rem 1rem;
  height: auto;
}

.header .links-container .nav-links .drop-down .drop-down-link {
  background-color: #fff;
  border-radius: 3px;
  display: none;
}

.header .links-container .nav-links .drop-down .drop-down-link li a {
  color: #004063 !important;
}

.header .links-container .nav-links .drop-down .drop-down-link li:hover {
  background-color: #004063;
}

.header .links-container .nav-links .drop-down .drop-down-link li:hover a {
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .header .links-container .nav-links .drop-down .drop-down-link {
    position: absolute;
    box-shadow: 2px 2px 44px rgba(0, 0, 0, 0.25);
    background: #f0f9ff;
  }
}

.header .links-container .nav-links .drop-down .display-links {
  display: block !important;
}

@media screen and (min-width: 768px) {
  .header .links-container {
    position: static;
  }
}

.header .show-links {
  height: auto !important;
}

@media screen and (min-width: 1200px) {
  .header .nav {
    padding-top: 1.24rem;
  }
  .header .nav .header-container {
    display: flex;
    align-items: center;
  }
  .header .nav .header-container .nav-header {
    flex: 1;
    padding: 0;
  }
  .header .nav .header-container .nav-header .menu {
    display: none;
  }
  .header .nav .header-container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .header .nav .header-container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .header .nav .header-container .links-container .nav-links li a {
    color: #fff;
    transition: all .3s linear;
  }
  .header .nav .header-container .links-container .nav-links li .black {
    color: #000;
  }
}

.banner {
  height: 26.75rem;
  background: rgba(0, 0, 0, 0.6) url("../assets/banner2.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .headline {
  text-align: center;
}

.banner .headline .headline-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.31rem;
}

@media screen and (min-width: 768px) {
  .banner {
    justify-content: flex-start;
  }
  .banner .headline {
    text-align: left;
  }
  .banner .headline .headline-title {
    width: 20.94rem;
    font-size: 2.25rem;
    margin-bottom: 1.94rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 43.13rem;
  }
  .banner .headline .headline-title {
    font-size: 3.81rem;
    width: 34.88rem;
  }
  .banner .headline .cta {
    padding: 1rem 3.5rem;
    font-size: 1.13rem;
  }
}

.logos {
  background: #EDEDED;
}

.logos .logo-title {
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
  color: #867979;
  display: flex;
  justify-content: center;
}

.logos .brands {
  overflow-x: scroll;
}

.logos .brands .container .logo-container {
  width: 77.13rem;
  margin: 0 auto;
  padding-bottom: 2.13rem;
  display: flex;
  justify-content: space-between;
}

.logos .brands .container .logo-container img {
  margin-right: 3.69rem;
}

@media screen and (min-width: 1200px) {
  .logos .brands .logo-container {
    width: 46.13rem;
    display: flex;
    overflow: visible;
  }
  .logos .brands .logo-container img {
    margin-right: 0.69rem;
  }
}

.section-title {
  font-size: 1.88rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #004063;
  margin-top: 2.38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-title::after {
  content: '';
  display: block;
  margin-top: 0.94rem;
  width: 4.38rem;
  height: 0.13rem;
  background: #A0C6FF;
}

.section-desc {
  font-size: 1.13rem;
  text-align: center;
  width: 17.63rem;
  margin: 0 auto;
  margin-top: 1.44rem;
  margin-bottom: 4.13rem;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  .section-desc {
    width: 26.13rem;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 3.25rem;
  }
  .section-desc {
    font-size: 1.25rem;
    width: auto;
  }
}

@media screen and (min-width: 1920px) {
  .section-title {
    font-size: 3.25rem;
  }
  .section-desc {
    font-size: 1.53rem;
    width: auto;
  }
}

.solutions {
  position: relative;
  overflow: hidden;
}

.solutions .big-circle {
  width: 52.13rem;
  height: 52.13rem;
  border-radius: 50%;
  background: rgba(160, 198, 255, 0.41);
  box-shadow: 1px 1px 99px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 26.75rem;
  right: 80%;
  z-index: -1;
}

.solutions .small-circle {
  width: 9.4rem;
  height: 9.4rem;
  border-radius: 50%;
  background: rgba(160, 198, 255, 0.41);
  box-shadow: 1px 1px 99px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: -4rem;
  right: -2.56rem;
  z-index: -1;
}

.solutions .polygon2 {
  position: absolute;
  top: 3.44rem;
  left: 1.4rem;
}

.solutions .polygon1 {
  position: absolute;
  top: 6.75rem;
  right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .solutions .big-circle {
    width: 52.13rem;
    height: 52.13rem;
    top: 26.75rem;
    right: 80%;
  }
  .solutions .small-circle {
    width: 28.19rem;
    height: 28.19rem;
    top: -17.5rem;
    right: -15.63rem;
  }
  .solutions .polygon2 {
    position: absolute;
    top: 4.56rem;
    left: 6.06rem;
  }
  .solutions .polygon1 {
    position: absolute;
    top: 3rem;
    right: 12.44rem;
  }
}

@media screen and (min-width: 1200px) {
  .solutions .big-circle {
    width: 52.13rem;
    height: 52.13rem;
    top: 26.75rem;
    right: 80%;
  }
  .solutions .small-circle {
    width: 32.44rem;
    height: 32.44rem;
    top: -14.06rem;
    right: -9.13rem;
  }
  .solutions .polygon2 {
    position: absolute;
    top: 6.31rem;
    left: 13.19rem;
  }
  .solutions .polygon1 {
    position: absolute;
    top: 4.13rem;
    right: 25.56rem;
  }
}

.solutions-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 72.56rem;
  margin: 0 auto;
}

.solutions-card .card {
  height: 25.56rem;
  width: 18.81rem;
  border-radius: 0.81rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}

.solutions-card .card .bg-card {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

.solutions-card .card .card-content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background: #004063;
  color: #fff;
  transition: height .3s linear;
}

.solutions-card .card .card-content h3 {
  font-size: 1.25rem;
}

.solutions-card .card .card-content ul {
  margin-top: 1.06rem;
  margin-bottom: 1.13rem;
}

.solutions-card .card .card-content ul li {
  color: #dfdfdf;
  display: flex;
  align-items: center;
  gap: 0.56rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .solutions-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .solutions-card .card5 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 992px) {
  .solutions {
    padding-bottom: 0rem;
  }
  .solutions-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .solutions-card .card .card-content {
    height: 11.25rem;
  }
  .solutions-card .card .card-content a {
    visibility: hidden;
  }
  .solutions-card .card .card-content:hover {
    height: auto;
  }
  .solutions-card .card .card-content:hover a {
    visibility: visible;
  }
  .solutions-card .card4 {
    margin-left: 45%;
  }
}

.benefits {
  background: url("../assets/benfits.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.benefits .container {
  text-align: center;
  color: #fff;
}

.benefits .container .benefits-title {
  margin-top: 0 !important;
}

.benefits .container .section-title {
  color: #fff;
  padding-top: 3.19rem;
}

.benefits .container p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.005em;
  margin: 2.75rem auto 1.69rem auto;
}

.benefits .container a {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .benefits .container p {
    margin-top: 2.5rem;
    font-size: 1.13rem;
    width: 35.38rem;
  }
}

@media screen and (min-width: 992px) {
  .benefits .container .section-title {
    padding-top: 4.63rem;
  }
  .benefits .container p {
    margin-top: 2.5rem;
    font-size: 1.13rem;
    width: 47.88rem;
    line-height: 1.69rem;
  }
  .benefits .container a {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1920px) {
  .benefits .container .section-title {
    padding-top: 4.63rem;
  }
  .benefits .container p {
    font-size: 1.43rem;
    line-height: 2.4rem;
    width: 57.88rem;
  }
  .benefits .container a {
    margin-bottom: 5rem;
  }
}

.services .service-bg {
  display: none;
}

.services .container .service-card-wrapper {
  display: grid;
  place-items: center;
}

.services .container .service-card-wrapper .service-card {
  width: 20.19rem;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: 2px 2px 44px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border-radius: 2.44rem;
  margin-bottom: 3.5rem;
}

.services .container .service-card-wrapper .service-card h2 {
  font-size: 1.5rem;
  color: #004063;
  margin: 0.88rem;
}

.services .container .service-card-wrapper .service-card p {
  margin: 0 2.5rem 2.69rem 2.5rem;
}

.services .container .service-card-wrapper .service-card img {
  margin-top: 3.06rem;
}

@media screen and (min-width: 768px) {
  .services {
    position: relative;
  }
  .services .service-bg {
    display: block;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 5%;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .services .container .service-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services .container .service-card-wrapper .integration {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .services .service-bg {
    top: 0;
  }
  .services .container .service-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .services .container .service-card-wrapper .service-card {
    width: 100%;
  }
  .services .container .service-card-wrapper .integration {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .services .service-bg {
    z-index: -1;
  }
  .services .container .service-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    max-width: 64.31rem;
    margin: 0 auto;
    margin-top: 11.56rem;
  }
  .services .container .service-card-wrapper .service-card {
    width: 20.19rem;
    height: 18.5rem;
  }
  .services .container .service-card-wrapper .service-card p {
    font-size: 1.13rem;
  }
  .services .container .service-card-wrapper .integration {
    margin-left: 0;
  }
}

@media screen and (min-width: 1920px) {
  .services .service-bg {
    top: -20%;
    z-index: -1;
  }
  .services .container .service-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 64.31rem;
    margin: 0 auto;
    margin-top: 11.56rem;
  }
  .services .container .service-card-wrapper .service-card {
    width: 22.19rem;
    height: 20rem;
  }
  .services .container .service-card-wrapper .service-card p {
    font-size: 1.23rem;
  }
  .services .container .service-card-wrapper .integration {
    margin-left: 0;
  }
}

.about .about-bg {
  display: none;
}

.about .container .about-text .about-desc {
  text-align: center;
  color: #5a5a5a;
  line-height: 1.94rem;
  letter-spacing: 0.005em;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 4.69rem;
}

.about .container .about-img {
  width: 19.25rem;
  height: 25.25rem;
  border-radius: 1.38rem 6.31rem;
  background: url("../assets/student-using-headphones.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .about {
    position: relative;
  }
  .about .about-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.56rem;
  }
  .about .container .about-img {
    justify-self: center;
  }
}

@media screen and (min-width: 992px) {
  .about {
    margin-top: 12.75rem;
  }
  .about .container .about-text .about-desc {
    width: 29.38rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.13rem;
  }
  .about .container .about-img {
    border-radius: 1.38rem 9.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .about .container .about-img {
    width: 30.88rem;
    height: 36.31rem;
    border-radius: 1.38rem 9.25rem;
  }
}

@media screen and (min-width: 1920px) {
  .about {
    margin-top: 20.75rem;
  }
  .about .container .about-text .about-desc {
    width: 39.38rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.4rem;
    font-size: 1.53rem;
  }
}

.contact .container .contact-wrapper .form {
  margin-top: 3.63rem;
  display: flex;
  flex-direction: column;
}

.contact .container .contact-wrapper .form label {
  margin-bottom: 1rem;
}

.contact .container .contact-wrapper .form input, .contact .container .contact-wrapper .form textarea {
  width: 100%;
  background: #F1F1F1;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
}

.contact .container .contact-wrapper .form input {
  height: 2.88rem;
}

.contact .container .contact-wrapper .form input:active {
  border-color: #004063;
}

.contact .container .contact-wrapper .form button {
  margin: 1.69rem 0;
  width: 12.31rem;
  color: #004063;
}

.contact .container .contact-wrapper .map .location .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 16.75rem;
}

.contact .container .contact-wrapper .map .location .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .contact .container .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .contact .container .contact-wrapper .map .location .map-responsive {
    height: 32.44rem;
  }
}

.footer {
  margin-top: 3.63rem;
}

.footer .wave {
  width: 100%;
}

.footer .footer-wrapper {
  margin-top: -1rem;
  background: #004063;
}

.footer .footer-wrapper .container .upper-footer {
  margin-bottom: 3.94rem;
}

.footer .footer-wrapper .container .upper-footer .address {
  color: #fff;
}

.footer .footer-wrapper .container .upper-footer .address .address-content {
  margin-top: 3.81rem;
}

.footer .footer-wrapper .container .upper-footer .address .address-content div {
  display: flex;
  gap: 1rem;
  margin-top: 1.38rem;
}

.footer .footer-wrapper .container .upper-footer .address .address-content div p {
  font-size: 0.88rem;
}

.footer .footer-wrapper .container .upper-footer .mission {
  margin-top: 3.31rem;
  color: #fff;
}

.footer .footer-wrapper .container .upper-footer .mission p {
  font-size: 0.88rem;
  line-height: 1.63rem;
  letter-spacing: -0.035em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer .footer-wrapper .container .upper-footer .mission .social-icons {
  margin-top: 2.25rem;
}

.footer .footer-wrapper .container .upper-footer .mission .social-icons a i {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.88rem;
}

.footer .footer-wrapper .container .lower-footer {
  display: flex;
  gap: 3rem;
}

.footer .footer-wrapper .container .lower-footer ul li {
  margin-bottom: 1rem;
}

.footer .footer-wrapper .container .lower-footer ul li a {
  color: #fff;
  font-size: 0.88rem;
}

.copy {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-top: 3.94rem;
  padding-bottom: 2.69rem;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #ffff;
  margin-bottom: 2.31rem;
}

@media screen and (min-width: 768px) {
  .footer .footer-wrapper .container .upper-footer {
    display: flex;
  }
  .footer .footer-wrapper .container .lower-footer {
    gap: 20.25rem;
  }
}

@media screen and (min-width: 992px) {
  .footer .footer-wrapper .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .footer .footer-wrapper .container .upper-footer {
    grid-area: 1 / 1 / auto / 4;
    width: 100%;
  }
  .footer .footer-wrapper .container .upper-footer .address {
    margin-right: 1.31rem;
  }
  .footer .footer-wrapper .container .upper-footer .address .address-content div p {
    font-size: 1rem;
  }
  .footer .footer-wrapper .container .upper-footer .address .address-content .oly {
    width: 13.06rem;
  }
  .footer .footer-wrapper .container .upper-footer .mission {
    justify-self: flex-end;
  }
  .footer .footer-wrapper .container .upper-footer .mission p {
    font-size: 1rem;
    width: 19.69rem;
  }
  .footer .footer-wrapper .container .lower-footer {
    grid-area: 1 / span 2;
    gap: 9.81rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer .wave {
    margin-bottom: -8rem;
  }
  .footer .footer-wrapper .container .upper-footer .address {
    margin-right: 5.31rem;
  }
  .footer .footer-wrapper .container .upper-footer .address .address-content div p {
    line-height: 1.82rem;
  }
  .footer .footer-wrapper .container .upper-footer .address .address-content .oly {
    width: 13.06rem;
  }
  .footer .footer-wrapper .container .upper-footer .mission {
    justify-self: flex-end;
    align-self: center;
  }
  .footer .footer-wrapper .container .upper-footer .mission p {
    width: 19.69rem;
    line-height: 1.83rem;
  }
  .footer .footer-wrapper .container .lower-footer {
    grid-area: 1 / span 2;
    gap: 9.81rem;
  }
}

@media screen and (min-width: 1920px) {
  .footer .wave {
    margin-bottom: -12rem;
  }
  .footer .footer-wrapper .container .upper-footer .address {
    margin-right: 10.31rem;
  }
  .footer .footer-wrapper .container .upper-footer .address .address-content div p {
    font-size: 1.13rem;
    line-height: 1.82rem;
  }
  .footer .footer-wrapper .container .upper-footer .mission p {
    font-size: 1.13rem;
  }
}
/*# sourceMappingURL=style.css.map */