//fonts 
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Variables 

$columns: 12;
$primary-color: #004063;
$secondary-color: #A0C6FF;
$gray-color: #EDEDED;
$dark-gray-color: #867979;
$light-gray-color: #dfdfdf;
$trans: all 0.1s linear;
html{
  font-family: 'Rubik', sans-serif;
}
// Gird system
.container {
  width: 100% - 10%;
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1 0 0%;
}
//default col
@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;
  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns * $i;
  }
}

// // Small devices (landscape phones, 576px and up)

@include responsive($sm) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-sm-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include responsive($md) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-md-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Large devices (desktops, 992px and up)
@include responsive($lg) {
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-lg-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include responsive($xl) {
  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-xl-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Buttons 
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  // border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  background: $secondary-color;
  color: $primary-color;
}
.btn-secondary {
  color: #fff;
  background: $secondary-color;
}
.btn-outline-primary {
  background: transparent;
  color: $primary-color;
  border-color: $primary-color;
}
.btn-outline-primary:hover {
  background: $primary-color;
  color: #fff;
}
.btn-outline-secondary {
  background: transparent;
  color: #fff;
  border-color: $secondary-color;
}
.btn-outline-secondary:hover {
  background: $secondary-color;
  color: $primary-color;
}

@include responsive($xxl){
  .btn{
    font-size: 1.2rem;
  }
}