@import "reboot";
@import "mixins";
@import "utilities";



// header and navigation 



.header{
    height: 7rem;
    background-color: $primary-color;
    z-index: 999999;
  nav{
        transition: all 0.3s linear;
        padding-bottom: 1rem;
        position: relative;
        
        .container{
            .nav-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1.24rem;
                .logo{
                width: 16rem;
                }
                
            }
            @include responsive($md){
              .nav-header{
                    display: flex;
                    .logo{
                        flex: 1;
                    }
                    .ham{
                        font-size: 4rem;
                    }
                
                }
            }
        }
    }
  .links-container{
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    .nav-links{
        
      li{
      padding: 0.75rem 1rem;
      
      }
      .drop-down{
        padding: 0.75rem 1rem;
        height: auto;
          
          .drop-down-link{
            background-color: #fff;
            border-radius: 3px;
            display: none;
            
            li{
                a{
                    color: #000 !important;
                }
            }

          }
          @include responsive($md){
            .drop-down-link{
                position: absolute;
                box-shadow: 2px 2px 44px rgba(0, 0, 0, 0.25);
                
            }
          }
          .display-links{
            display: block !important;  
          }
        
      }
    }

  }
  @include responsive($md){
      .links-container{
          position: static;
      }
  }
  .show-links{
    height: auto !important;
  }
  
  @include responsive($xl){
      .nav{
        padding-top: 1.24rem;
        .container{
          display: flex;
          align-items: center;
          .nav-header{
            flex: 1;
            padding: 0;
            .menu{
              display: none;
            }
          }
          .links-container{
            flex: 1;
            background: transparent;
            height: auto;
            .nav-links{
              display: flex;
              justify-content: space-between;
              li{
                a{
                  color: #fff;
                  transition: all .3s linear;
                }
                .black{
                  color: #000;
                }
              }
              
            }
            
          }
        }
    }
}
}



// banner section


.banner {
    height: 26.75rem;
    background: rgba(0, 0, 0, 0.37) url('../assets/banner2.jpg') no-repeat;
    background-position:  center center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    .headline{
        text-align: center;
        .headline-title{
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2.31rem;
        }
    }
}

@include responsive($md){
    .banner{
        justify-content: flex-start;
        .headline{
            text-align: left;
            .headline-title{
                width: 20.94rem;
                font-size: 2.25rem;
                margin-bottom: 1.94rem;
            }
        }
    }
}

@include responsive($xl){
    .banner{
        height: 43.13rem;
        .headline{
            .headline-title{
                font-size: 3.81rem;
                width: 34.88rem;
            }
            .cta{
                padding: 1rem 3.5rem;
                font-size: 1.13rem;
            }
        }
    }
}

// social proof 

.logos{
    background: $gray-color;
    .logo-title{
        padding-top: 1.5rem;
        padding-bottom: 1.4rem;
        color: $dark-gray-color;
        display: flex;
        justify-content: center;
    }
    .logo-container{
        display: flex;
        align-items: center;
        overflow-x: scroll;
        margin-bottom: 1.75rem;
        margin-top: 1.44rem;
        
    }
}

.section-title{
    font-size: 1.88rem;
    text-transform: capitalize;
    font-weight: bold;
    color: $primary-color;
    margin-top: 2.38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after{
        content: '';
        display: block;
        margin-top: 0.94rem;
        width: 4.38rem;
        height: 0.13rem;
        background: $secondary-color;
    }
}

.section-desc{
    font-size: 1.13rem;
    text-align: center;
    width: 17.63rem;
    margin: 0 auto;
    margin-top: 1.44rem;
    margin-bottom: 4.13rem;
}

@include responsive($md){
    .section-title{
        font-size: 2rem;
    }
    .section-desc{
        width: 26.13rem;
    }
}
@include responsive($lg){
    .section-title{
        font-size: 3.25rem;
    }
    .section-desc{
        font-size: 1.25rem;
        width: auto;
    }
}

.solutions-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    .card{
        // background: url('../assets/digitalSignage2.jpg') no-repeat;
        // background-size: cover;
        // background-position: center center;
        
        height: 25.56rem;
        width: 18.81rem;
        border-radius: 0.81rem;
        position: relative;
        overflow: hidden;
        margin-bottom: 3rem;
        .bg-card{
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            object-fit: cover;
        }
        .card-content{
            height: 11.25rem;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            padding: 1rem;
            background: $primary-color;
            color: #fff;
            transition: height .3s linear;
            h3{
                font-size: 1.25rem;
            }
            ul{
                margin-top: 1.06rem;
                margin-bottom: 1.13rem;
                li{
                    color: $light-gray-color;
                    display: flex;
                    align-items: center;
                    gap: 0.56rem;
                    margin-bottom: 1rem;
                }
            }
            a{
                visibility: hidden;
            }
            &:hover{
                height: auto;
            }
            &:hover a{
                visibility: visible;
            }
        }
    }
}
@include responsive($md){
    .solutions-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .card5{
            margin-left: 50%;
        }
    }
}
@include responsive($lg){
    .solutions-card{
        grid-template-columns: 1fr 1fr 1fr;
       .card4{
           margin-left: 45%;
       }
    }
}

.benefits{
        background:  url('../assets/IPTV.jpg') no-repeat;
        background-position:  center center;
        background-size: cover;
        position: relative;
        z-index: -1;
    .container{
        text-align: center;
        z-index: 99;
        color: #fff;
        
        .section-title{
            color: #fff;
            padding-top: 3.19rem;
        }
        p{
            font-size: 1rem; 
            line-height: 1.5rem;
            text-align: center;
            letter-spacing: 0.005em;
            margin-top: 2.75rem;
            margin-bottom: 1.69rem;
        }
        a{
            margin-bottom: 3rem;
            z-index: 100;
        }
    }
    &::before{
        z-index: -199999;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(98.99deg, rgba(10, 75, 94, 0.87) 0%, rgba(18, 109, 158, 0.78) 123.67%);
    }
}

















































.footer{
    height: 50vh;
}