@import "reboot";
@import "mixins";
@import "utilities";



// header and navigation 



.header{
    height: 7rem;
    background-color: $primary-color;
    z-index: 999999;
  nav{
        transition: all 0.3s linear;
        padding-bottom: 1rem;
        position: relative;
        
        .container{
            .nav-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1.24rem;
                .logo{
                width: 16rem;
                }
                
            }
            @include responsive($md){
              .nav-header{
                    display: flex;
                    .logo{
                        flex: 1;
                    }
                    .ham{
                        font-size: 4rem;
                    }
                
                }
            }
        }
    }
  .links-container{
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    .nav-links{
        
      li{
      padding: 0.75rem 1rem;
      
      }
      .drop-down{
        padding: 0.75rem 1rem;
        height: auto;
          
          .drop-down-link{
            background-color: #fff;
            border-radius: 3px;
            display: none;
            
            li{
                a{
                    color: #000 !important;
                }
            }

          }
          @include responsive($md){
            .drop-down-link{
                position: absolute;
                box-shadow: 2px 2px 44px rgba(0, 0, 0, 0.25);
                
            }
          }
          .display-links{
            display: block !important;  
          }
        
      }
    }

  }
  @include responsive($md){
      .links-container{
          position: static;
      }
  }
  .show-links{
    height: auto !important;
  }
  
  @include responsive($xl){
      .nav{
        padding-top: 1.24rem;
        .container{
          display: flex;
          align-items: center;
          .nav-header{
            flex: 1;
            padding: 0;
            .menu{
              display: none;
            }
          }
          .links-container{
            flex: 1;
            background: transparent;
            height: auto;
            .nav-links{
              display: flex;
              justify-content: space-between;
              li{
                a{
                  color: #fff;
                  transition: all .3s linear;
                }
                .black{
                  color: #000;
                }
              }
              
            }
            
          }
        }
    }
}
}



// banner section


.banner {
    height: 26.75rem;
    background: rgba(0, 0, 0, 0.37) url('../assets/banner2.jpg') no-repeat;
    background-position:  center center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    .headline{
        text-align: center;
        .headline-title{
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2.31rem;
        }
    }
}

@include responsive($md){
    .banner{
        justify-content: flex-start;
        .headline{
            text-align: left;
            .headline-title{
                width: 20.94rem;
                font-size: 2.25rem;
                margin-bottom: 1.94rem;
            }
        }
    }
}

@include responsive($xl){
    .banner{
        height: 43.13rem;
        .headline{
            .headline-title{
                font-size: 3.81rem;
                width: 34.88rem;
            }
            .cta{
                padding: 1rem 3.5rem;
                font-size: 1.13rem;
            }
        }
    }
}

// social proof 

.logos{
    background: $gray-color;
    padding: 1.5rem 0 1.75rem;
    .logo-title{
        color: $dark-gray-color;
        text-align: center;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
        .logo-container{
           display: flex;
           align-items: center;
            overflow: scroll;
               
               img{
                   margin-right: 4.69rem;
               }
         
        }
    
}